@typeparam TItem
<div class="col-4">
	@if (ShowList)
	{
		<label for="@Title.ToLowerInvariant()">@Title</label>
		<br />
		<select id="@Title.ToLowerInvariant()" class="form-select" @onchange="OnSelected">
			<option value="0">None</option>
			@foreach (var item in Items)
			{
				<option value="@ItemValue(item)"
					selected="@(SelectedItem is not null && ItemValue(SelectedItem) == ItemValue(item) ? "selected" : null)">
					@ItemText(item)
				</option>
			}
		</select>
	}
</div>

@code {

	[Parameter] public bool ShowList { get; set; }
	[Parameter] public string Title { get; set; }
	[Parameter] public IEnumerable<TItem> Items { get; set; }
	[Parameter] public EventCallback<ChangeEventArgs> OnSelected { get; set; }
	[Parameter] public TItem SelectedItem { get; set; }
	[Parameter] public Func<TItem, string> ItemText { get; set; }
	[Parameter] public Func<TItem, string> ItemValue { get; set; }


}